*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: all .2s ease-in;
}

:root {
    --light-blue: #009EE0;
    --dark-blue: #004C93;
    --active-green: #54B948;
    --off-black: #2E2E2E;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

p,
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300
}

h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    margin: .5rem 0;
}

h2 {
    font-size: clamp(1.75rem, 2.5rem, 3rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.75rem);
}

img {
    max-width: 100%;
}

.content__width {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}

.full__row {
    width: 100%;
}

.three_quart__row {
    width: 75%;
}

.half__row {
    width: 50%;
}

.third__row {
    width: 33%;
}

.quart__row {
    width: 25%;
}

.fifth__row {
    width: 20%;
}

.center {
    text-align: center;
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1024px) {
    .content__width {
        justify-content: center;
    }
    .quart__row,
    .fifth__row {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .content__width {
        justify-content: center;
    }
    .quart__row3 {
        width: 100%;
    }
    .third__row2 {
        width: 100%;
    }
    .third__row {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .content__width {
        flex-direction: column;
        justify-content: center;
    }
    .half__row,
    .third__row,
    .quart__row,
    .fifth__row {
        width: 100%;
    }
}